:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9fa7e4;
    --size: 1;
    --w: 256px;
    --h: 57px;
    --width: calc(var(--w)* var(size));
    --height: calc(var(--h)* var(size));
    --width: 256px;
    --height: 57px;


    --bar-fill: #ec290a;
    --bar-top: #ff3818;

    --character-bar-fill: #0aec51;
    --character-bar-top: #18ff52;
 }


body{
padding: 0;
margin:0;
    height: 100vh;
cursor: cell;
overflow: hidden;
touch-action: none;


-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
-o-user-select: none;
user-select: none;
}


.character {
    width:calc( var(--width) / 4);
    height: var(--height);
    position: absolute;
    overflow:hidden;
    left:calc( 50vw - calc(var(--width)/10) - 5px);
    top: calc( 50vh - calc(var(--height)/2) - 10px);
 }


 .character_spritesheet {
    position: absolute;
    background: url("diagonal\ with\ extra\ space.PNG") ;
    background-size: 100%;
    width: var(--width);
    height: var(--height);
    image-rendering: pixelated;
 }




.character[facing="d"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -28.8 );
 }
 .character[facing="w"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -57.5 );
 }
 .character[facing="a"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -86.3 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.3s steps(2) infinite; 
 }
 
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-50%,0%,0);
   }
 }


 .camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #587f6b;
    position:absolute;


 }
 
 
 .map {
    image-rendering: pixelated;
    background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;

    top:calc(50vh - (10 * var(--grid-cell)/2));
    left:calc(50vw - (13 * var(--grid-cell)/2));
  
    
 }
 
.center{
    position:absolute;
    top: calc(-50vh + (10 * var(--grid-cell)/2));
    left: calc(-50vw + (13 * var(--grid-cell)/2));


}





.sword{
    position: absolute;
    color: black;
    /* background-color:  rgb(135, 160, 235); */
    width: 50px;
    height: 50px;
 
    transform-origin: bottom center;
    background-image: url("bow.png");
    image-rendering: pixelated;
    background-size: 100%;


}
.swordbox{
    position:absolute;
        top:calc(50vh - 50px);
        left:calc(50vw - 25px);
      
        transform-origin: bottom center;
   
        width: 20px;
        height: 100px;
        z-index: 0;
        display: none;
    }




.arrow{


    position: absolute;
    width:10px;
    height: 10px;
    background-color: black;
    top:50vh;
    left:50vw;
    

}

.arrowpicturebox{
position: absolute;
    top:10px;
    left: -10px;
    width: 10px;
    height: 50px;
    transform: translate(-50% , -50% );
}

.arrowpicture{
padding: 0px;
margin: 0px;
    width: 30px;
    height: 30px;
    background-image: url("thickarrowPNG.PNG");
    image-rendering: pixelated;
    background-size: 100%;
    transform-origin: center;

}

.arrowbox{

    position: absolute;
    width:10px;
    height: 100px;
    border: 2px solid salmon;
 
    transform-origin: bottom center;
    z-index: 1;
}

.follow{


    position: absolute;
    width:30px;
    height: 30px;
    /* background-color: rgb(135, 160, 235); */
    top: calc(50vh - 40px);
    left:calc(50vw - 60px);
    background-image: url("mushroompng.png");
    image-rendering: pixelated;
    background-size: 100%;
    /* transition: all .5s ease-out; */

}



.enemy{


    position: absolute;
    width:30px;
    height: 30px;
    background-color: rgb(201, 62, 136);
    top: calc(50vh );
    left:calc(50vw );

}

/* .healthbarbox{

    position: absolute;
    display: flex;
} */

.healthbar{

    position: absolute;
    width: 20vw;
    top:90%;
    left:50%;
    transform: translate(-50% , -50%);
    
 }
 .healthbar_fill {
    width: 100%;
    fill: var(--bar-fill);
    transition: width 0.5s ease-in, fill 0.2s linear;
 }
 .healthbar_fill-top {
    fill: var(--bar-top);
 }



 .character_healthbar{

    position: absolute;
    width: 20vw;
    top:10%;
    left:50%;
    transform: translate(-50% , -50%);
    
 }
 .character_healthbar_fill {
    width: 100%;
    fill: var(--character-bar-fill);
    transition: width 0.5s ease-in, fill 0.2s linear;
 }
 .character_healthbar_fill-top {
    fill: var(--character-bar-top);
 }



.enemyprojectile{


width:100px;
height:100px;
background-color: red;
border: 3px solid salmon;
}