:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9fa7e4;
    --size: 1;
    --w: 256px;
    --h: 57px;
    --width: calc(var(--w)* var(size));
    --height: calc(var(--h)* var(size));
    --width: 256px;
    --height: 57px;


    --bar-fill: #ec290a;
    --bar-top: #ff3818;

    --character-bar-fill: #0aec51;
    --character-bar-top: #18ff52;
 }

*{
/* 
    border: 1px solid salmon; */
    padding: 0;
margin:0;
font-family: 'VT323', monospace;
}
body{
padding: 0;
margin:0;
    height: 100vh;
cursor: cell;
overflow: hidden;
touch-action: none;


-webkit-user-select: none;  
-moz-user-select: none;     
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}


.character {
    width:calc( var(--width) / 4);
    height: var(--height);
    position: absolute;
    overflow:hidden;
    left:calc( 50vw - calc(var(--width)/10) - 5px);
    top: calc( 50vh - calc(var(--height)/2) - 10px);
 }
.hitbox{

position: absolute;
    width: 32px;
    height: 40px;
top: 10px;
left:16px;

border: 1px solid salmon;
}

 .character_spritesheet {
    position: absolute;
    background: url("diagonal\ with\ extra\ space.PNG") ;
    background-size: 100%;
    width: var(--width);
    height: var(--height);
    image-rendering: pixelated;
 }




.character[facing="d"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -28.8 );
 }
 .character[facing="w"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -57.5 );
 }
 .character[facing="a"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -86.3 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.3s steps(2) infinite; 
 }
 
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-50%,0%,0);
   }
 }


 .camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #65845b;
    position:absolute;


 }
 
 
 .map {
    image-rendering: pixelated;
    background-image: url("background.PNG");
    background-size: 100%;
    width: 1000px;
    height: 700px;
    position: relative;

    top:calc(50vh - (10 * var(--grid-cell)/2));
    left:calc(50vw - (13 * var(--grid-cell)/2));


  
    
 }
 
.center{
    position:absolute;
    top: calc(-50vh + (10 * var(--grid-cell)/2));
    left: calc(-50vw + (13 * var(--grid-cell)/2));


}



.bow{

    position: absolute;
    background: url("bow\ up.PNG") ;
    background-size: 100%;
    width: 200px;
    height: 50px;
    image-rendering: pixelated;
}



.sprite1 {

    transform: translate3d(-0%,0%,0);
}

.sprite2 {

       transform: translate3d(-25%,0%,0);
  
}

.sprite3 {

      transform: translate3d(-50%,0%,0);
}

.sprite4 {
  

    transform: translate3d(-75%,0%,0);
}






.sword{
    position: absolute;
    color: black;
    /* background-color:  rgb(135, 160, 235); */
    width: 50px;
    height: 50px;
 
    /* transform-origin: bottom center; */
    /* background-image: url("bow.png"); */
    image-rendering: pixelated;
    background-size: 100%;
    border: 1px solid salmon;
    overflow: hidden;


}

.swordbox{
    position:absolute;
        top:calc(50vh - 25px);
        left:calc(50vw - 25px);
      
        transform-origin: bottom center;
   
        width: 20px;
        height: 100px;
        z-index: 0;
        display: none;
    }




.arrow{


    position: absolute;
    width:10px;
    height: 10px;
    /* background-color: black; */
    top:50vh;
    left:50vw;
    

}

.arrowpicturebox{
position: absolute;
    top:10px;
    left: -10px;
    width: 10px;
    height: 50px;
    transform: translate(-50% , -50% );
}

.arrowpicture{
padding: 0px;
margin: 0px;
    width: 30px;
    height: 30px;
    background-image: url("thickarrowPNG.PNG");
    image-rendering: pixelated;
    background-size: 100%;
    transform-origin: center;
    

}

.arrowbox{

    position: absolute;
    width:10px;
    height: 100px;
    border: 2px solid salmon;
 
    transform-origin: bottom center;
    /* z-index: 1; */
}

.follow{


    position: absolute;
    width:30px;
    height: 30px;
    /* background-color: rgb(135, 160, 235); */
    top: calc(50vh - 40px);
    left:calc(50vw - 60px);
    background-image: url("mushroompng.png");
    image-rendering: pixelated;
    background-size: 100%;
    /* transition: all .5s ease-out; */

}



.enemy{


    position: absolute;
    width:100px;
    height: 100px;
    /* background-color: rgb(201, 62, 136); */
    top: calc(50vh );
    left:calc(50vw );

    /* background-image: url("angel\ enemy.PNG"); */
    image-rendering: pixelated;
    background-size: 100%;
    overflow: hidden;
    z-index: 1;

}
.enemysprite{

        position: absolute;
        background: url("enemyspriteleft.PNG") ;
        background-size: 100%;
        width: 800px;
        height: 100px;
        image-rendering: pixelated;

}
.enemysprite [facing="right"]{
    background: url("enemyspriterightPNG.PNG") ;
}
.right{

    background: url("enemyspriterightPNG.PNG") ;

}

.enemysprite {
    animation: enemyAnimation 0.9s steps(8) infinite; 
 }
 
 @keyframes enemyAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-100%,0%,0);
   }
 }

/* .healthbarbox{

    position: absolute;
    display: flex;
} */

.healthbar{

    position: absolute;
    width: 20vw;
    top:90%;
    left:50%;
    transform: translate(-50% , -50%);
    
 }
 .healthbar_fill {
    width: 100%;
    fill: var(--bar-fill);
    transition: width 0.5s ease-in, fill 0.2s linear;
 }
 .healthbar_fill-top {
    fill: var(--bar-top);
 }



 .character_healthbar{

    position: absolute;
    width: 20vw;
    top:10%;
    left:50%;
    transform: translate(-50% , -50%);
    
 }
 .character_healthbar_fill {
    width: 100%;
    fill: var(--character-bar-fill);
    transition: width 0.5s ease-in, fill 0.2s linear;
 }
 .character_healthbar_fill-top {
    fill: var(--character-bar-top);
 }



.enemyprojectile{
position:absolute;

width:30px;
height:30px;
background-color: red;
border: 3px solid salmon;
top: calc(50vh );
left:calc(50vw );
}

.stick{
    position:absolute;
    padding: 0px;
margin: 0px;
    width: 30px;
    height: 30px;
    background-image: url("arrow\ in\ ground.PNG");
    image-rendering: pixelated;
    background-size: 100%;
    transform-origin: center;
    top: calc(50vh - 15px);
left:calc(50vw - 15px);


transform: translate(-50% , -50% );

/* transition: all 3s linear; */




}
.underground{
    position:absolute;
    z-index: 0;
}

.moveback{

    z-index: 0;
}

.characterShadow{


position:absolute;
background-color: black;
top:40px;
left:30px;
width: 60px;
height: 20px;
opacity: .3;;


}




.startscreen{
    position: relative;
    width:100vw;
    height:100vh;
    background-color: black;
    color: white;
    /* opacity: 0;
  */
z-index: 1;
}

.deathScreen{
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: black;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
z-index: 1;
}

.restartButton{
position: absolute;
top:80%;
left:50%;
transform: translate(-50%,-50%);
touch-action: auto;

}

.winOrLose{
    padding:20px;
    color:white;
}